h1{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

h2{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h3{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

p{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

strong{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.footer {
  background-color: #EEE; /* Fond gris */
  padding: 30px 0; /* Ajoute un peu d'espace en haut et en bas */
}

.container {
  max-width: 1200px; /* Limite la largeur du contenu du footer */
  margin: 0 auto; /* Centre le contenu horizontalement */
}

/* Remplace les puces par des tirets bleus */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "—";
  color: #0d6efd;
  margin-right: 5px;
}


/* Styles pour le premier bloc */
.first-block {
  width: 100%;
}

.image-container {
  position: relative;
}

.full-width {
  width: 100%;
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Styles pour le deuxième bloc */
.second-block {
  background-color: #EEE; 
  border: 1px solid #EEE; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  height: 750px;
}

.container {
  padding: 20px; 
}

.h1grand{
  font-size: 3em;
}

.h2grand{
  font-size: 2em;
}

.h1noir{
  color: black;
}

.h2noir{
  color: black;
}

.h3noir{
  color: black;
}

.textenoir{
  color: black;

}

.trait-bleu {
  border: 0;
  height: 4px; 
  background-color: #0d6efd;
  margin: 20px 0; 
  border-color: #0d6efd; 
  opacity: 1; 
}

.footer {
  text-align: left; 
}

.footer strong {
  display: block; 
}

.footer ul {
  padding-left: 0; 
  list-style: none; 
}

.ligne-bleu{
  border: 0;
  height: 4px; 
  background-color: #0d6efd;
  margin: 20px 0; 
  margin-right: 800px;
  margin-left: 800px;
  border-color: #0d6efd; 
  opacity: 1; 
}

.realisation {
  border: 1px solid #EEE; /* Cadre autour de chaque réalisation */
  padding: 20px; 
  margin-bottom: 20px; 
}

.realisation-img {
  width: 100%; /* Redimensionner la taille des images */
}

.realisation h3 {
  font-size: 16px; 
}

#icone{
  color: #0d6efd;
}

#icone:hover{
  color: #cde1f8;
}


.image-container {
  position: relative; 
}

.white-square {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 75%; 
  height: 75%; 
  background-color: #EEE ; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}


.blue-line {
  border: none; 
  border-top: 4px solid #0d6efd; 
  width: 30%; 
  margin: 20px auto; 
  border-color: #0d6efd; 
  opacity: 1; 
}

#h1margin{
  margin-top: 40px; 
}

#h3petit{
  font-size: 23px;
}

.half-block {
  flex: 1; /* Chaque moitié du carré blanc occupe la moitié de l'espace disponible */
  padding: 20px; /* Ajouter un peu de marge à l'intérieur de chaque moitié */
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.half-block {
  display: inline-block;
  width: 50%; 
  text-align: left; 
}

.small-title {
  margin-top: 20px;
}

.blue-line2 {
  width: 90%; 
  border-color: #0d6efd; 
  opacity: 1; 
  margin: 20px auto; 
  border-top: 4px solid #0d6efd; 
}

.h2margin{
  margin-left: 40px; 
}

.contact-form {
  margin-left: 20px; 
  margin-right: 20px; 
}

.inoir{
  color: black;
  font-size: 20px;
}

address{
  color: black;
  font-size: 20px;
}

a {
  color: black; 
}

.pnoir{
  color: black;
}

.ppetit{
  font-size: 20px;
  text-align: left;
}

.aleft{
  text-align: left;
  font-size: 20px;
}

.h2left{
  text-align: left;
}

.nav-link:hover {
  color: rgba(#EEE , 0.8);
}



/* Media Query pour les écrans de taille inférieure à 768px (par exemple, pour les appareils mobiles) */
@media (max-width: 768px) {
  .conteneur {
      font-size: 14px; /* Ajustez la taille de la police pour les écrans mobiles */
  }

  .h1grand {
    font-size: 28px;
  }

  .h2grand {
    font-size: 20px;
  }

  .btn {
    font-size: 16px;
  }

  .textenoir {
    font-size: 16px;
  }
  .footer .row > div {
    width: 50%; /* Ajuste la largeur de chaque colonne à 100% */
  }
  footer {
    margin-top: 360px;
  }




  .contact-container {
    padding: 20px; /* Ajouter un espace autour du contenu */
  }

  .image-container {
    position: relative; /* Assurer que le contenu reste à l'intérieur du conteneur */
  }

  .white-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le carré blanc */
    width: 90%; /* Ajuster la largeur du carré blanc */
    padding: 20px; /* Ajouter de l'espace intérieur */
  }

  #h1margin {
    font-size: 24px; /* Réduire la taille du titre principal */
  }

  #h3petit {
    font-size: 16px; /* Réduire la taille du sous-titre */
  }

  .blue-line {
    margin-top: 10px; /* Ajouter un peu d'espace au-dessus de la ligne bleue */
    margin-bottom: 10px; /* Ajouter un peu d'espace en dessous de la ligne bleue */
  }

  .h2margin {
    font-size: 20px; /* Réduire la taille des sous-titres */
  }

  .blue-line2 {
    margin-bottom: 10px; /* Ajouter un peu d'espace en dessous de la ligne bleue */
  }

  .contact-form {
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus du formulaire */
  }

  .form-control {
    font-size: 14px; /* Réduire la taille du texte dans les champs de formulaire */
    padding: 10px; /* Ajouter un peu d'espace intérieur dans les champs de formulaire */
  }

  .btn-primary {
    font-size: 16px; /* Réduire la taille du texte du bouton */
    padding: 10px 20px; /* Ajuster les marges du bouton */
  }

  .h2margin {
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus du titre */
  }

  address {
    font-size: 14px; /* Réduire la taille du texte de l'adresse */
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus de l'adresse */
  }

  .leaflet-container {
    width: 100% !important; /* Ajuster la largeur de la carte pour qu'elle soit pleinement responsive */
    height: 200px !important; /* Définir une hauteur fixe pour la carte */
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus de la carte */
  }

  #margintop{
    margin-top: 200px;
  }

  .top{
    margin-top: 100px;
  }


  .special-footer {
    margin-top: 550px;
  }
  .special-footer2 {
    margin-top: 0px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
}

.col-sm-4 {
    width: 100%;
    max-width: 300px; /* Limiter la largeur maximale des réalisations */
    margin-bottom: 20px; /* Espacement entre les réalisations */
}
}










@media (min-width: 768px) and (max-width: 1024px) {
  .conteneur {
    font-size: 16px; /* Ajustez la taille de la police pour les écrans de tablette */
  }

  .h1grand {
    font-size: 32px; /* Augmentez légèrement la taille du titre principal */
  }

  .h2grand {
    font-size: 22px; /* Augmentez légèrement la taille des sous-titres */
  }

  .btn {
    font-size: 18px; /* Augmentez légèrement la taille du texte des boutons */
  }

  .textenoir {
    font-size: 18px; /* Augmentez légèrement la taille du texte noir */
  }

  .footer .row > div {
    width: 100%; /* Ajustez la largeur de chaque colonne à 100% pour une disposition en colonne */
  }
  footer {
    margin-top: 360px; /* Conservez la même marge supérieure */
  }
  #margintop{
    margin-top: 200px;
  }
  #margintop2{
    margin-top: 230px;
  }

  .special-footer{
    margin-top: 500px;
  }

  .top{
    margin-top: 100px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
}

.col-sm-4 {
    width: 100%;
    max-width: 500px; /* Limiter la largeur maximale des réalisations */
    margin-bottom: 20px; /* Espacement entre les réalisations */
}
}
