h1{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

h2{
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h3{
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

p{
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

strong{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.footer {
  background-color: #a8a8a8; /* Fond gris */
  padding: 30px 0; /* Ajoute un peu d'espace en haut et en bas */
}

.container {
  max-width: 1200px; /* Limite la largeur du contenu du footer */
  margin: 0 auto; /* Centre le contenu horizontalement */
}

/* Ajoutez d'autres styles CSS selon vos besoins */

/* Remplace les puces par des tirets bleus */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "—";
  color: blue;
  margin-right: 5px;
}


/* Styles pour le premier bloc */
.first-block {
  width: 100%;
}

.image-container {
  position: relative;
}

.full-width {
  width: 100%;
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Styles pour le deuxième bloc */
.second-block {
  background-color: #ffffff; /* Couleur de fond */
  border: 1px solid #dddddd; /* Bordure */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre */
  height: 750px;
}

.container {
  padding: 20px; /* Rembourrage à l'intérieur du conteneur */
}

.h1grand{
  font-size: 3em;
}

.h2grand{
  font-size: 2em;
}

.h1noir{
  color: black;
}

.h2noir{
  color: black;
}

.h3noir{
  color: black;
}

.textenoir{
  color: black;

}

.trait-bleu {
  border: 0;
  height: 2px; /* Augmente l'épaisseur du trait */
  background-color: blue;
  margin: 20px 0; /* Ajoute une marge au-dessus et en dessous du trait */
}

/* Ajoutez ces styles à votre fichier CSS */
.footer {
  text-align: left; /* Alignement du texte à gauche */
}

.footer strong {
  display: block; /* Assurez-vous que les éléments <strong> occupent une ligne entière */
}

.footer ul {
  padding-left: 0; /* Supprimez le remplissage à gauche de la liste */
  list-style: none; /* Supprimez les puces de la liste */
}

.ligne-bleu{
  border: 0;
  height: 4px; /* Augmente l'épaisseur du trait */
  background-color: blue;
  margin: 20px 0; /* Ajoute une marge au-dessus et en dessous du trait */
  margin-right: 800px;
  margin-left: 800px;
}

/* global.css */

.realisation {
  border: 1px solid #ccc; /* Cadre autour de chaque réalisation */
  padding: 20px; /* Ajouter un espacement intérieur */
  margin-bottom: 20px; /* Ajouter un espacement en bas */
}

.realisation-img {
  width: 100%; /* Redimensionner la taille des images */
}

.realisation h3 {
  font-size: 16px; /* ou toute autre taille de police que vous préférez */
}

#icone{
  color: black;
}